@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="/css/NavBar.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<header class="header">
    <div class="home-icon">
        <a href="/Home/HomePage">
            <i class="fa-solid fa-house"></i>
        </a>
    </div>
    <div class="search-bar">
        <form asp-controller="Product" asp-action="Search" method="get">
            <input class="search-input"
                   type="text"
                   style="min-width: 300px"
                   name="toSearch"
                   placeholder="Enter your search" />
            <button class="search-button"
                    type="submit">
                <img src="https://w7.pngwing.com/pngs/582/430/png-transparent-search-magnifier-find-zoom-glass-seo-optimization-instagram-icon.png"
                     alt="Search Icon"
                     width="20"
                     height="20" />
                @* <i class="fa-solid fa-magnifying-glass"></i> *@
            </button>
        </form>
    </div>
    <div class="profile-section">
        <div class="login-button">Login/Logout</div>
        <div class="profile-icon dropdown">
            <img src="https://cdn-icons-png.flaticon.com/512/6522/6522516.png"
                 alt="Profile Icon"
                 width="30"
                 height="30" />
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="#">Orders</a>
                <a href="#">Settings</a>
                <a href="#">Logout</a>
            </div>
        </div>
    </div>
</header>