body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-button {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    background-color: #f9f9f9;
    color: #333;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .submit-button:hover {
        background-color: #e6e6e6;
    }
