body {
}

/* Header styles */
.header {
    background-color: #f6f6f6;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-input {
    width: 75vw;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-right: 10px;
}

.search-button {
    background-image: url("https://w7.pngwing.com/pngs/582/430/png-transparent-search-magnifier-find-zoom-glass-seo-optimization-instagram-icon.png") !important;
    /* background-color: #f9f9f9; */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

    .search-button img {
        src: "https://w7.pngwing.com/pngs/582/430/png-transparent-search-magnifier-find-zoom-glass-seo-optimization-instagram-icon.png";
    }

.profile-section {
    display: flex;
    align-items: center;
}

.login-button {
    margin-right: 10px;
    cursor: pointer;
}

.profile-icon {
    cursor: pointer;
}

/* Dropdown menu styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown:hover .dropdown-content {
    display: block;
}
